<!-- iEX BANNER - START -->
<section id="iex-banner" class="iex-banner mobile:padding-bottom-8 tablet:padding-bottom-10 desktop-lg:padding-bottom-10 z-400">
    <div class="grid-container">
        <div class="iex-banner__container padding-5 radius-lg">
            <div class="grid-row grid-gap flex-align-center">
                <div class="col-12 tablet-lg:grid-col-12 desktop:grid-col-4 desktop-lg:grid-col-4 iex-banner__content">
                    <center><a href="/hil/views/iex-2024/"><img src="assets-3-5/img/home/iex-2024-logo.webp" alt="2024 VHA Innovation Experience logo" class="imag-fluid" width="320"/></a></center>
                </div>
                <div class="col-12 tablet-lg:grid-col-12 desktop:grid-col-5 desktop-lg:grid-col-6 banner-text text-center text-white">
                    <h1>Oct. 29-30 in Chicago<br>Sold Out!</h3>
                </div>
                <div class="col-12 tablet-lg:grid-col-12 desktop:grid-col-3 desktop-lg:grid-col-2 text-center">
                    <a href="/hil/views/iex-2024/" class="usa-button button-vha usa-button__vha-2024">View iEX 2024</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- iEX BANNER - END -->