<!-- iEX BANNER - START -->
<section id="iex-banner" class="iex-banner mobile:padding-bottom-8 tablet:padding-bottom-10 desktop-lg:padding-bottom-15 z-top">
    <div class="grid-container">
        <div class="iex-banner__container padding-3 desktop:padding-5 radius-lg">
            <div class="grid-row grid-gap flex-align-center">
                <div class="col-12 tablet-lg:grid-col-4 iex-banner__content">
                    <a href="https://lnks.gd/l/eyJhbGciOiJIUzI1NiJ9.eyJidWxsZXRpbl9saW5rX2lkIjoxMDAsInVyaSI6ImJwMjpjbGljayIsInVybCI6Imh0dHBzOi8vd2hvdmEuY29tL3BvcnRhbC9yZWdpc3RyYXRpb24vdmllaV8yMDI0MTAiLCJidWxsZXRpbl9pZCI6IjIwMjQwNzA5Ljk3MzQ1ODAxIn0._r7UupcGjY0yWHJLRY3HX1ATY2ItXpTlnivBXpaddDc/s/3061100020/br/245424444589-l"><img src="assets-3-5/img/home/iex-2024-logo.webp" alt="2024 VHA Innovation Experience logo" class="imag-fluid" width="320"/></a>
                </div>
                <div class="col-12 tablet-lg:grid-col-5 text-center text-white">
                    <h1 class="margin-bottom-0">Join Us Oct. 29-30 in Chicago</h1>
                    <p>Register for this free, in-person event.<br />
                    <a href="https://lnks.gd/l/eyJhbGciOiJIUzI1NiJ9.eyJidWxsZXRpbl9saW5rX2lkIjoxMDIsInVyaSI6ImJwMjpjbGljayIsInVybCI6Imh0dHBzOi8vd3d3LmloZy5jb20vaW50ZXJjb250aW5lbnRhbC9ob3RlbHMvdXMvZW4vY2hpY2Fnby9vcmRoYS9ob3RlbGRldGFpbD91dG1fc291cmNlPWdvb2dsZSZ1dG1fbWVkaXVtPW9yZ2FuaWMmdXRtX2NhbXBhaWduPWdtYiZ0cmFja2luZ1NvdXJjZT1Hb29nbGVCdXNpbmVzc0xpc3RpbmciLCJidWxsZXRpbl9pZCI6IjIwMjQwNzA5Ljk3MzQ1ODAxIn0.wVvltRlIxSGcrzcakLZhcB1ISc95Go_PUbTZoH5KiJ4/s/3061100020/br/245424444589-l">InterContinental Chicago Magnificent Mile Hotel</a></p>
                </div>
                <div class="col-12 tablet-lg:grid-col-3">
                    <a href="https://lnks.gd/l/eyJhbGciOiJIUzI1NiJ9.eyJidWxsZXRpbl9saW5rX2lkIjoxMDAsInVyaSI6ImJwMjpjbGljayIsInVybCI6Imh0dHBzOi8vd2hvdmEuY29tL3BvcnRhbC9yZWdpc3RyYXRpb24vdmllaV8yMDI0MTAiLCJidWxsZXRpbl9pZCI6IjIwMjQwNzA5Ljk3MzQ1ODAxIn0._r7UupcGjY0yWHJLRY3HX1ATY2ItXpTlnivBXpaddDc/s/3061100020/br/245424444589-l" class="usa-button button-vha usa-button__vha-2024">Register Now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- iEX BANNER - END -->